.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 400px;
}



ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  list-style-type: none;
}



